@@ -1,4 +1,4 @@
.cabeçalho_menu-hamburguer {
.cabeçalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    display: inline-block;
@@ -52,4 +52,8 @@
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}
.container__botao {
    display: none;
}
